capstone/
.vscode/
data/clean-transform/
data/downsample/
data/train-val-test/
data/SCFP2022.csv
data/fred_data.csv
data/yfinance_data.csv
data/raw_data_prediction_dataset.csv
data/stationary_prediction_dataset.csv
.ipynb_checkpoints/
.venv/
venv/
CLAUDE.md
CLAUDEfull.md
